.App {
  text-align: center;
}

.requestCard:hover {
  transform: scale(1.01);
  background-color: #60b593;
  color:aliceblue;
  transition: .2s;
}

.cardTitle {
  font-weight: bold;
}

.cardSubtitle {
  font-style: italic;
}